/* portfolio images 1000px x 630px */

.item {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    max-width: 100%;
    margin: 1% auto;
}

.item img {
    /* height: 225px; */
    border: 0.5rem solid white;
    align-items: center;
    max-width: 300px;
}

@media (min-width: 768px) {
    .item {
        justify-content: space-evenly;
    }
    .item img {
        align-items: center;
    }
}

@media (min-width: 992px) {}