.item {
    /* background: white; */
    display: flex;
}

.item img {
    /* min-height: 300px; */
    max-width: 355px;
    min-height: 225px;
    /* margin: 0 auto; */
    align-items: center;
    border: 1rem solid white;
    box-sizing: content-box;
}