.gallery {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.details {
    display: flex;
    min-height: 50px;
    justify-content: space-evenly;
    max-width: 300px;
}

i.fab {
    padding: 3%;
    color: black;
    font-size: 1.5rem;
}

div.details i:nth-child(1) {
    margin-left: 3%;
}

#moviedb {
    width: 7%;
    height: 1%;
    margin: 2% 0 0 3%;
}

@media (min-width: 678px) {
    #moviedb {
        width: 3%;
        height: 1%;
        margin: 2.5% 2% 0 3%;
    }
}