.navbar {
  background: #417C89;
  align-items: flex-end;
}

a.d-inline.align-top.navbar-brand {
  max-width: 75%;
}

.navbar-brand img {
  max-width: 100%;
}

h3 {
  /* margin-top: 5%; */
  font-size: 1.5rem;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
}

p {
  display: inline;
  color: white;
}

button#nav-button.navbar-toggler {
  background-color: white !important;
  align-content: flex-end;
}

.navbar-nav .nav-link {
  justify-content: flex-end;
}

a.nav-link {
  font-size: 1rem;
  margin: 1%;
  text-align: end;
  color: white !important;
}

@media (min-width: 768px) {
  .navbar-brand img {
    /* margin-left: 10%;
    max-width: 70%; */
  }
  button {
    margin: 0 10px !important;
  }
  div.ml-auto.navbar-nav {
    margin-right: 15%;
  }
}