.navbar {
  background: #417C89;
  min-width: 100vw;
  align-items: flex-end;
}

.navbar-nav .nav-link {
  justify-content: flex-end;
}

a.d-inline.align-top.navbar-brand {
  max-width: 75%;
}

a.nav-link {
  font-size: 1rem;
}

.navbar-brand img {
  width: 150%;
}

h3 {
  display: inline;
  color: white !important;
}

p {
  display: inline;
  color: white;
}

#headerDesc {
  display: none;
}

button#nav-button.navbar-toggler {
  background-color: white !important;
}

a.nav-link {
  margin: 1%;
  text-align: end;
  color: white !important;
}

@media (min-width: 768px) {
  .navbar-brand img {
    max-width: 20%;
    margin: 3%;
  }
  a.d-inline.align-top.navbar-brand {
    max-width: 65%;
  }
}